main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

section img {
  max-width: 320px;
  height: auto;
}
